<!-- Angular JS -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/directives.js"></script>
<script type="text/javascript" src="/js/filters.js"></script>

<!-- Application Services -->
<script type="text/javascript" src="/js/services/global.js"></script>
<script type="text/javascript" src="/js/services/simulations.js"></script>

<!-- Application Controllers -->
<script type="text/javascript" src="/js/controllers/simulations.js"></script>
<script type="text/javascript" src="/js/controllers/index.js"></script>
<script type="text/javascript" src="/js/controllers/header.js"></script>
<script type="text/javascript" src="/js/init.js"></script>


{% if (process.env.NODE_ENV == 'development') %}
    <!-- Livereload script rendered -->
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}

<!-- A foot-foot-footer -->
<footer>
<div class="row">
	<div class="col-sm-6 pull-left">
		<a href="http://osrfoundation.org" alt="Open Source Robotics Foundation"><span class="glyphicon glyphicon-copyright-mark"></span><span> Open Source Robotics Foundation</span></a>
	</div>
	<div class="col-sm-6 text-right">
		<a href="http://bitbucket.org/osrf/cloudsimk" alt="Bitbucket">View on Bitbucket</a>
	</div>
</div>
<!--Trying to add "other OSRF products" row -->
<div class="row">
	<div class="col-sm-6 text-left">
		<a href="http://gazebosim.org" alt="Open Source Robotics Foundation website"><img src="../img/icons/gazebo.svg" alt="Gazebo logo" width="150"></a>
		<a href="http://thepropshop.org" alt="The Prop Shop website"><img src="../img/icons/tps.svg" alt="The Prop Shop logo" width="100"></a>
	</div>
</div>
<!-- end Other Products -->
</footer>
