<div class="" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="img/icons/cloudsim.svg" alt="cloudsim_logo" height="20"/></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right"
          data-ng-hide="global.authenticated">
        <li>
          <a href="#" class="dropdown-toggle"
             data-toggle="dropdown">Login | Signup <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/auth/google"><img class="inline-block"
                 alt="Google" width="45" src="/img/icons/google.svg"/> Google</a>
            </li>
            <li>
              <a href="/auth/yahoo"><img class="inline-block"
                 alt="Yahoo" width="45" src="/img/icons/yahoo.svg"> Yahoo</a>
            </li>
            <li>
              <a href="/auth/aol"><img class="inline-block"
                 alt="AOL" width="45" src="/img/icons/aol.svg"> AOL</a>
            </li>
            <li>
              <a href="/auth/openid"><img class="inline-block"
                 alt="OpenId" width="45" src="/img/icons/openid.svg"> OpenId</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right"
          data-ng-show="global.authenticated">
          <li>
            <a href="#" class="dropdown-toggle"
             data-toggle="dropdown">Hi, {{global.user.name}}
             <span class="glyphicon glyphicon-user"></span></a>
             <ul class="dropdown-menu">
               <li>
                 <a ui-sref="home">Console</a>
                 <a ui-sref="preferences">Prefrences</a>
                 <a ui-sref="admin">Admin</a>
               </li>
             </ul>
           </li>
           <li>
            <span>|</span>
            <span><a href="/signout">Signout</a></span>
          </li>
      </ul>
    </div>
</div>
