<section data-ng-controller="UsersController">
<div class="container">
<div class="row">
  <div class="col-md-6">
    <form class="form-inline form-horizontal" role="form" ng-submit="addUser()" ng-controller="UsersController">

        <!-- Add a user -->
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
          <input type="email" class="form-control"
                 ng-model="email" required="required">
          </div>
        </div>

          <button type="submit" class="btn btn-primary">Add User</button>

    </form>
  </div>

  <div class="col-md-6">
    <p>TODO: Manage existing users</p>
  </div>
</div>
</div>
</section>
