<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="sshKeyModalLabel">
      Add User
    </h4>
</div>

<form class="form-horizontal" name="form" ng-submit="ok(form)">
  <div class="modal-body">
    <div class="form-group">
      <div class="col-sm-8">
        <input type="email" name="email" class="form-control"
               placeholder="Email" ng-model="email" required="required">
      </div>

      <div class="col-sm-4">
        <label class="checkbox-inline">
          <input type="checkbox" id="admin" value="admin">Admin
        </label>
      </div>
    </div>

    <div class="alert alert-danger" ng-show="error.length" ng-model="error"
      style="margin-bottom:0px; font-size:90%"><b>Error:</b> {{error}}</div>
  </div>

  <div class="modal-footer"> 
    <button type="button" class="btn btn-default"
            data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
