<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="sshKeyModalLabel">
      Remove SSH Key
    </h4>
</div>

<div class="modal-body">
  <h4>Delete SSH key <small>{{label}}</small>?</h4>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-primary"
    ng-click="ok()">Delete</button>
  <button type="button" class="btn btn-default"
    data-dismiss="modal" ng-click="cancel()">Cancel</button>
</div>
