.navbar .nav>li>a.brand {
  padding-left:20px;
  margin-left:0
  background: #e8f4ff;
}

.navbar .brand, .navbar .nav > li > a:hover,
.navbar .brand, .navbar .nav > li > a
{
  background: #e8f4ff;
}

.navbar {
  background: #e8f4ff;
  border-bottom: 1px solid #abd7ff;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #abd7ff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #448ac9;
}

.navbar-default .navbar-toggle {
  border-color:#abd7ff;
}

.navbar-right, .navbar-nav.navbar-right:last-child {
  padding-right: 20px;
  padding-top: 5px;
  margin-right: 0px;
  line-height: 50px;
} 

.dropdown-menu > li > a:hover {
  background: transparent;
}

.dropdown-menu > li > a:hover > img {
  background: #448ac9;
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
