.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}


.navbar .brand, .navbar .nav > li > a:hover, .navbar .brand, .navbar .nav > li > a {
  background: transparent;
}

.navbar-right {
  padding-right: 20px;
}

.dropdown-menu > li > a:hover {
  background: transparent;
}

.dropdown-menu > li > a:hover > img {
  background: #448ac9;
}

li.username {
  padding:15px;
}

li.username > span {
  padding-right:10px;
}
li.username > span.glyphicon {
  padding-right:20px;
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
