<section data-ng-controller="SimulationsController">
  <div class="container well well-small">
    <div class="row">
      <div class="col-sm-12 text-center">
      <!-- Form to launch a simulation. This form uses the launch() function
           in SimulationsController -->
      <form class="form-inline form-horizontal" role="form"
        ng-submit="launch()" ng-controller="SimulationsController"
        style="margin: 0 auto; width: 90%">

        <!-- Create a control group for the world -->
        <div class="form-group">
           <label for="world" class="col-sm-2 control-label">World</label>
           <div class="col-sm-10">
             <select class="form-control" style="width: 190px"
               ng-model="world" id="world" required="required">
               <option value=""
               disabled selected style="display:none">Pick a world</option>
               <!-- The worlds are stored/retreived from the server
                    by the SimulationsController -->
               <option ng-repeat="world in worlds">{{world}}</option>
             </select>

             <a href="#" role="button" popover="The simulator will load this world when it launches. To learn about the worlds, visit www.thepropshop.org/worlds" popover-trigger="click" popover-placement="bottom" popover-animation="true"><span class="badge">?</span></a>
           </div>
         </div>

           
         <!-- Create a control group for the region -->
         <div class="form-group" style="padding-left:20px">
           <label for="region" class="col-sm-2 control-label">Region</label>
           <div class="col-sm-10">
             <select class="form-control" style="width: 190px"
               ng-model="region" id="region" required="required">
               <option value=""
               disabled selected style="display:none">Pick a region</option>
               <!-- The worlds are stored/retreived from the server
                    by the SimulationsController -->
               <option ng-repeat="region in regions">{{region}}</option>
             </select>

             <a href="#" role="button" popover="Machines are hosted in multiple locations.Selecting the region closest to your location could result in a faster connection." popover-trigger="click" popover-placement="bottom" popover-animation="true"><span class="badge">?</span></a>

           </div>
         </div>
      
         <!-- Create a control group for the launch button -->
         <div class="form-group" style="padding-left:50px">
           <button type="submit" class="btn btn-primary">Launch Gazebo</button>
         </div>
      </form>
    </div>
    </div>
  </div>
</section>
