<section data-ng-controller="SimulationsController" data-ng-init="find()">
<!--<div class="tabbable tabs-left">-->
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a href="#console"
        data-toggle="tab">Console</a></li>
      <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a href="#history"
        data-toggle="tab">History</a></li>
    </ul>
    <div class="tab-content">
      <div ng-class="getTabPaneClass(1)" id="console">
        <table class="table table-striped table-condensed table-hover">
          <thead>
            <tr>
              <th><input type="checkbox" ng-model="simulationsChecked"
                 ng-change="selectAllSimulations()"></th>
              <th>ID</th>
              <th>Status</th>
              <th>Region</th>
              <th>Uptime</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tfoot>
            <td colspan="6">
              <div>
                <ul class="pagination pull-right">
                  <li ng-class="{disabled: currentPage == 0}">
                     <a href ng-click="setPage(currentPage-1)">« Prev</a>
                  </li>
                  <li ng-repeat="n in range(pagedItems.length,
                      currentPage, currentPage + gap)"
                      ng-class="{active: n == currentPage}"
                      ng-click="setPage(n)">
                    <a href ng-bind="n+1">1</a>
                  </li>
                    <li ng-class="{disabled: (currentPage) ==
                        pagedItems.length - 1}">
                      <a href ng-click="setPage(currentPage+1)">Next »</a>
                   </li>
                 </ul>
               </div>
            </td>
          </tfoot>
          <tbody>
            <tr ng-repeat="simulation in pagedItems[currentPage]">
              <td><input type="checkbox" ng-model="simulation.selected"></td>
              <td>{{simulation.sim_id}}<br>{{simulation.world}}</br></td>
              <td>{{simulation.state}}</td>
              <td>{{simulation.region}}</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
        <!-- A button for testing the display of simulations -->
        <button ng-click="find()" class="btn btn-primary" >Get Simulations</button>
      </div>
    <div ng-class="getTabPaneClass(2)" id="history">
    </div>
  </div>
</section>
