<div class="container">
  <tabset>
    <!-- Console: Running Simulations -->
    <tab heading='Console'>
      <table class="table table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th><input type="checkbox"
              ng-checked="getAllPageSimulationsSelected(tableType.console)"
              ng-click="selectPageSimulations(tableType.console)"></th>
            <th>Id</th>
            <th>World</th>
            <th>Status</th>
            <th>Region</th>
            <th>Uptime</th>
            <th>Cost</th>
            <th>Key</th>
            <th>3D</th>
          </tr>
        </thead>
        <tfoot>
          <td colspan="2">
            <div class='text-left' style="margin-top: 20px; margin-bottom: 20px">
              <button class="btn btn-primary" ng-click="showShutdownDialog()"
                ng-disabled="getPageSimulationsSelected(tableType.console).length === 0">
                Shutdown
              </button>
            </div>
          </td>
          <td colspan="6">
            <div class='text-right'>
              <pagination direction-links="true"
                total-items="$parent.$parent.consoleSimulations.length"
                items-per-page="pageSize"
                page="$parent.$parent.consoleCurrentPage">
              </pagination>
            </div>
          </td>
        </tfoot>
        <tbody>
          <tr ng-repeat="simulation in ($parent.$parent.consoleSimulations =
            (simulations | filter:getConsoleSimulations | orderBy: '-date_launch')
            | startFrom:($parent.$parent.consoleCurrentPage-1)*pageSize
            | limitTo:pageSize)">
            <td><input type="checkbox" ng-model="simulation.selected"></td>
            <td>{{simulation.sim_id}}</td>
            <td>{{simulation.world}}</td>
            <td><img height="20px" ng-src="/img/icons/{{simulation.state}}.gif"/> {{simulation.state}} </td>
            <td>{{simulation.region}}</td>
            <td>{{formatTimeElapsed(simulation.upTime)}}</td>
            <td>{{simulation.server_price}}</td>
            <td><a href="/simulations/{{simulation.sim_id}}/keys.zip">
                    <img height="20px" src="/img/icons/download.svg"/>
                </a>
            </td>
            <td>
                <a href="http://{{simulation.machine_ip}}:8080" target="_blank" >
                    <img height="20px"  src="/img/icons/eye.svg"/>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
      <script type="text/ng-template" id="shutdown.html">
        <div class="modal-header">
          <h3>Shutdown</h3>
        </div>
        <div class="modal-body">
          Are you sure you want to shut down the machine(s)?
          <br>Your data will be lost.</br>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="confirmShutdown(true)">Yes</button>
          <button class="btn btn-default" ng-click="confirmShutdown(false)">No</button>
        </div>
      </script>
    </tab>

    <!-- History: Terminated Simulations -->
    <tab heading='History'>
      <table class="table table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th><input type="checkbox"
              ng-checked="getAllPageSimulationsSelected(tableType.history)"
              ng-click="selectPageSimulations(tableType.history)"></th>
            <th>Date Launched</th>
            <th>Id</th>
            <th>World</th>
            <th>Region</th>
            <th>Uptime</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tfoot>
          <td colspan="2">
            <div class='text-left' style="margin-top: 20px; margin-bottom: 20px">
              <button class="btn btn-primary" ng-click="showRelaunchDialog()"
                ng-disabled="getPageSimulationsSelected(tableType.history).length === 0">
                Relaunch
              </button>
              <button class="btn btn-default" ng-click="showDeleteForeverDialog()"
                ng-disabled="getPageSimulationsSelected(tableType.history).length === 0">
                Delete Forever
              </button>
            </div>
          </td>
          <td colspan="6">
            <div class='text-right'>
              <pagination direction-links="true"
                total-items="$parent.$parent.historySimulations.length"
                items-per-page="pageSize"
                page="$parent.$parent.historyCurrentPage">
              </pagination>
            </div>
          </td>
        </tfoot>
        <tbody>
          <tr ng-repeat="simulation in ($parent.$parent.historySimulations =
            (simulations | filter:getHistorySimulations | orderBy: '-date_term')
            | startFrom:($parent.$parent.historyCurrentPage-1)*pageSize
            | limitTo:pageSize)">
            <td><input type="checkbox" ng-model="simulation.selected"></td>
            <td>{{formatDateTime(simulation.date_launch)}}</td>
            <td>{{simulation.sim_id}}</td>
            <td>{{simulation.world}}</td>
            <td>{{simulation.region}}</td>
            <td>{{formatTimeElapsed(simulation.upTime)}}</td>
            <td>{{simulation.server_price}}</td>
          </tr>
        </tbody>
      </table>
      <script type="text/ng-template" id="relaunch.html">
        <div class="modal-header">
          <h3>Relaunch</h3>
        </div>
        <div class="modal-body">
          Are you sure you want to relaunch?
          <br>You will be charged $X.XX per hour once you click Yes.</br>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="confirmRelaunch(true)">Yes</button>
          <button class="btn btn-default" ng-click="confirmRelaunch(false)">Cancel</button>
        </div>
      </script>
      <script type="text/ng-template" id="deleteForever.html">
        <div class="modal-header">
          <h3>Delete Forever</h3>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the terminated simulation(s) forever?
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="confirmDeleteForever(true)">Yes</button>
          <button class="btn btn-default" ng-click="confirmDeleteForever(false)">Cancel</button>
        </div>
      </script>
    </tab>
  </tabset>
</div>
